:root {
  --red: #c73b0f;
  --rose900: #260f08;
  --rose500: #87635a;
  --rose400: #ad8a85;
  --rose300: #caafa7;
  --rose100: #f5eeec;
  --rose50: #fcf8f6;
  --green: #1ea575;
  --black: #000;
  --white: #fff;

  --txt-size-xl: 40px;
  --txt-size-l: 24px;
  --txt-size-m: 16px;
  --txt-size-s: 14px;

  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-regular: 400;

  --line-height: 120%;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
  background-color: var(--rose100);
}

.filters-content {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 50px;
  align-items: center;
}

.main {
  width: 70%;
  margin-inline: auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-inline: 24px;
}

.each-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
  width: 400px;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--rose900);
}

.image {
  border-radius: 8px;
  border: 1px solid var(--rose500);
}

.name {
  font-size: var(--txt-size-l);
  font-weight: var(--fw-bold);
  color: var(--rose500);
  letter-spacing: 2px;
}

.sugarless {
  font-size: var(--txt-size-s);
  color: var(--rose400);
}

.price {
  font-size: var(--txt-size-m);
  color: var(--red);
}

.hidden {
  font-size: var(--txt-size-xl);
  font-weight: var(--fw-bold);
  color: var(--red);
  letter-spacing: 4px;
  margin-left: 10vw;
}

.no-show {
  display: none;
}
